/* Universal design for font */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Defines the background color */
#background {
    background-color: #ff990034;
}

a {
    text-decoration: none;
}

/* Universal design for buttons */
button,
select {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #616161;
    cursor: pointer;
}

/* Filter select styling */
.filterSelect {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #616161;
    cursor: pointer;
}

/* Design for header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 15px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Places the logo next to header */
#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Design for header text */
#headerText {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

/* Design for text under header */
#headerText h1 {
    margin: 0;
}

/* Design for the tables */
#tables {
    max-width: 1380px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #61616181;
    padding: 24px 20px 20px;

}

/* This class and the next one align the Order buttons correctly */
#tableHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#tables h1 {
    margin: 0;
    margin-right: auto;
}

/* This id and the next one stylize the Order buttons */
#openBtn {
    background-color: #7af57a;
    border-color: #0f4b0f;
    color: #000000;
    cursor: pointer;
}

#simulateBtn {
    background-color: #7af57a65;
    cursor: pointer;
    margin-left: 10px;
}

/* Defines the style of the top of the table */
#ordersTableWrapper {
    border-radius: 12px;
    overflow: auto;
}

/* Defines the style of each column in the table */
#ordersTable {
    width: 1380px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 13.6px;
    white-space: nowrap;
}

/* Defines the size for each column */
#ordersTable th:nth-child(1) {
    width: 2%;
}

/* Time */
#ordersTable th:nth-child(2) {
    width: 2%;
}

/* Provider */
#ordersTable th:nth-child(3) {
    width: 2%;
}

/* Order # */
#ordersTable th:nth-child(4) {
    width: 2%;
}

/* Customer */
#ordersTable th:nth-child(5) {
    width: 9%;
}

/* Items */
#ordersTable th:nth-child(6) {
    width: 2%;
}

/* Total */
#ordersTable th:nth-child(7) {
    width: 2.2%;
    min-width: 90px;
}

/* Status */
#ordersTable th:nth-child(8) {
    width: 2.2%;
}

/* Contact */
#ordersTable th:nth-child(9) {
    width: 7%;
}

/* Actions */

/* This aligns entires with the table columns and adds a dividing line*/
#ordersTable th,
#ordersTable td {
    text-align: left;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;

}

/* Adds a color to the first row of each table */
#ordersTableColor {
    background-color: #e6e6e6;
}

/* BOOOOLD */
#ordersTable td:nth-child(6) {
    font-weight: 650;
}

/* Defines a pill style for the order status */
.statusPill {
    padding: 5px 12px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}

/* Defines the design for each status */
.statusPending {
    background-color: #ffeeba;
    color: #856404;
}

.statusAccepted {
    background-color: #cce5ff;
    color: #004085;
}

.statusCancelled {
    background-color: #f8d7da;
    color: #721c24;
}

.statusCompleted {
    background-color: #d4edda;
    color: #155724;
}

/* The next 4 classes control the color of the buttons */
.btnAccept {
    background-color: #ffeeba;
    border-color: #856404;
    color: black;
    margin-left: 5px;
}

.btnCancel {
    background-color: #f8d7da;
    border-color: #991b28;
    color: #ff0000;
    margin-left: 5px;
}

.btnComplete {
    background-color: #d4edda;
    border-color: #155724;
    color: #000000;
    margin-left: 5px;
}

.btnMore {
    background-color: transparent;
    border-color: transparent;
    color: #000000;
    font-weight: 600;
    float: right;
}

/* Hides new order popup and fades background*/
#popup {
    display: none;
    position: fixed;
    inset: 0;
    background: #00000080;
}

/* Defines the entire layout of the popup window*/
#popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    max-height: 80vh;
    overflow-y: auto;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000004d;
}

/* Fixes the popup header in place */
#popupContent h2 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Stylizes the "X" close button*/
#closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Defines a standard design for each field in the popup menu */
#popupContent input,
#popupContent textarea,
#popupContent select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

/* Stylizes the 7 ids seen below. Mainly possitions the fields in a certain way*/
#orderName {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

#orderTel {
    width: 48%;
    float: right;
    margin-bottom: 15px;
}

#orderNumber {
    float: right;
    margin-right: 24%;
    position: relative;
}

#orderItems,
#orderAddress,
#orderTotal,
#orderNotes {
    width: 100%;
    clear: both;
}

#orderButton {
    display: block;
    margin-left: auto;
    background-color: #7af57a;
    cursor: pointer;
}