/* Universal Font & Background */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #ff990034;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Universal design for Buttons & Inputs */
button, select, .filterSelect {
    padding: 8px 12px;
    
    border: 1px solid #616161;
    border-radius: 50px;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Button hover effect */
button:not(.dontHover):hover {
    color: #ffffff;
    background-color: #97c1ff !important;
    
    border: 1px solid #afafaf7f !important;
    box-shadow: 0 0 12px #7878787d;
}

/* Universal glow for input */
textarea:focus,
input:focus {
    box-shadow: 0px 0px 8px 1px #ff99007e;
}

/* Specific hover color for GREEN action buttons */
#openBtn:hover,
#simulateBtn:hover,
#orderButton:hover {
    color: #000000 !important;
    background-color: #5cd65c !important;
    
    border-color: #0f4b0f !important;
}

/* Header */
#header {
    /* These three tell the header to follow the screen as you scroll */
    position: sticky;
    top: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 40px 15px 40px;
    
    background-color: #ffffff;
    border-bottom: 2px solid #d1d1d1;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.35);
}

#siteLogo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#headerText {
    display: flex;
    flex-direction: column;
    
    font-size: 13px;
}

#headerText h1 {
    margin: 0;
}

.main {
    padding: 1.5rem 2.75rem 2.75rem;
}

/* Tables layout */
.tables {
    max-width: 1380px;
    margin: 20px auto;
    padding: 24px 20px 20px;
    
    background: #ffffff;
    border: 1px solid #61616181;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.35);
}

.tableHeader {
    display: flex;
    align-items: center;
    
    margin-bottom: 15px;
}

.tables h1 {
    margin: 0;
    margin-right: auto;
}

#openBtn {
    color: #000000;
    background-color: #7af57a;
    border-color: #0f4b0f;
}

#simulateBtn {
    margin-left: 10px;
    background-color: #7af57a65;
}

.ordersTableWrapper {
    overflow: auto;
    border-radius: 12px;
}

.ordersTable {
    width: 1380px;
    table-layout: fixed;
    border-collapse: collapse;
    
    font-size: 13.6px;
    white-space: nowrap;
}

/* Column widths */
.ordersTable th:nth-child(1), /* Time */
.ordersTable th:nth-child(2), /* Provider */
.ordersTable th:nth-child(3), /* Order # */
.ordersTable th:nth-child(4), /* Customer */
.ordersTable th:nth-child(6) { width: 2%; } /* Items */
.ordersTable th:nth-child(5) { width: 9%; } /* Customer Name */
.ordersTable th:nth-child(7) { width: 2.2%; min-width: 90px; } /* Total */
.ordersTable th:nth-child(8) { width: 2.2%; } /* Status */
.ordersTable th:nth-child(9) { width: 7%; }   /* Actions */

.ordersTable th, .ordersTable td {
    padding: 10px 15px 10px 10px;
    
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.ordersTableColor {
    background-color: #e6e6e6;
}

.ordersTable td:nth-child(6) {
    font-weight: 650;
}

/* Status pill design */
.statusPill {
    display: inline-block;
    
    padding: 5px 12px;
    
    font-size: 12px;
    font-weight: 600;
    
    border-radius: 50px;
}

.statusPending {
    color: #856404;
    background-color: #ffeeba;
}

#statusAccepted {
    color: #004085;
    background-color: #cce5ff;
}

#statusCancelled {
    color: #721c24;
    background-color: #f8d7da;
}

#statusCompleted {
    color: #155724;
    background-color: #d4edda;
}

/* Action buttons */
.btnAccept, .btnCancel, .btnComplete {
    margin-left: 5px;
}

.btnAccept {
    color: #000000;
    background-color: #ffeeba;
    border-color: #856404;
}

.btnCancel {
    color: #ff0000;
    background-color: #f8d7da;
    border-color: #991b28;
}

.btnComplete {
    color: #000000;
    background-color: #d4edda;
    border-color: #155724;
}

.btnMore {
    float: right;
    
    color: #000000;
    font-weight: 600;
    
    background-color: transparent;
    border-color: transparent;
}

/* Popup modal */
#popup {
    display: none;
}

#popupContent {
    margin: 0 auto; 
    
    width: min(60%,50em);
    max-height: 80vh;
    padding: 1.5rem;
    overflow-y: auto;
    
    background: #ffffff;
    border-radius: 20px;
}

#popupContent h2 {
    margin: 0 auto;
    text-align: center;
}

#closeBtn {
    position: relative;
    padding-left: 95%;
    font-size: 22px;
    cursor: pointer;
}

#popupContent input, #popupContent textarea, #popupContent select {
    box-sizing: border-box;
    padding: 10px;
    
    border: 1px solid #cccccc;
    border-radius: 10px;
    
    resize: vertical;
}

.orderInput{
    clear: both;
    width: 100%;
}

.inputLabel {
    font-size: clamp(95%,50em);
}

#orderButton {
    display: block;
    margin-left: auto;
    
    background-color: #7af57a;
}