/* Defines the background color */
.background {
    background-color: #ff990034;
}

/* Universal design for font */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Universal design for buttons */
button,
select {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #616161;
    cursor: pointer;
}

/* Design for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 15px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Places the logo next to header */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Design for header text */
.header-text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

/* Design for text under header */
.header-text h1 {
    margin: 0;
}

.tables {
    max-width: 1380px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 1.25rem;
    padding: 1.5rem 1.75rem 1.75rem;
    box-shadow:
        0 24px 60px hsla(79, 30%, 27%, 0.1),
        0 0 0 1px rgba(78, 91, 49, 0.15);
}

/* This class and the next one align the Order buttons correctly */
.table-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.tables h1 {
    margin: 0;
    margin-right: auto;
}

/* This id and the next one stylize the Order buttons */
#openBtn {
    background-color: #7af57a;
    border-color: #0f4b0f;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#simulateBtn {
    background-color: rgba(122, 245, 122, 0.397);
    cursor: pointer;
    margin-left: 10px;
}

/* Defines the style of the top of the table */
.orders-table-wrapper {
    border-radius: 12px;
    overflow: auto;
}

/* Defines the style of each column in the table */
.orders-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13.6px;
}

/* Defines the size for each column */
.orders-table th:nth-child(1) { width: 4%; }
.orders-table th:nth-child(2) { width: 7%; }
.orders-table th:nth-child(3) { width: 7%; }
.orders-table th:nth-child(4) { width: 1%; }
.orders-table th:nth-child(5) { width: 9%; }
.orders-table th:nth-child(6) { width: 3%; }
.orders-table th:nth-child(7) { width: 3%; }
.orders-table th:nth-child(8) { width: 6%; }
.orders-table th:nth-child(9) { width: 8%; }

/* This aligns entires with the table columns and adds a dividing line*/
.orders-table th, 
.orders-table td {
    text-align: left;
    padding: 10px 15px 10px 10px; 
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

/* Adds a color to the first row of each table */
.orders-table-color {
    background-color: rgb(230, 230, 230);
}

.orders-table td:nth-child(6) {
    font-weight: 650;
}

/* The next 4 classes control the color of the buttons */
.btn-accept {
    background-color: #ff990034;
    border-color: #a07b00;
    color: black;
}

.btn-cancel {
    background-color: #ffcdcd;
    border-color: red;
    color: rgb(255, 0, 0);
}

.btn-complete {
    background-color: #7af57a;
    border-color: #0f4b0f;
    color: rgb(0, 0, 0);
}

.btn-more {
    background-color: #cccccc;
    border-color: #4e4e4e;
    color: black;
    margin-left: 15%;
}

/* Hides new order popup and fades background*/
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: #00000080;
}

/* Defines the entire layout of the popup window*/
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 20px 20px 20px;
    max-height: 80vh;
    overflow-y: auto;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000004d;
}

/* Fixes the popup header in place */
.popup-content h2 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Stylizes the "X" close button*/
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Defines a standard design for each field in the popup menu */
.popup-content input,
.popup-content textarea,
.popup-content select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

/* Stylizes the 7 ids seen below. Mainly possitions the fields in a certain way*/
#orderName {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

#orderTel {
    width: 48%;
    float: right;
    margin-bottom: 15px;
}

#orderNumber {
    float: right;
    margin-right: 24%;
    position: relative;
}

#orderItems,
#orderAddress,
#orderTotal,
#orderNotes {
    width: 100%;
    clear: both;
}

#orderButton {
    display: block;
    margin-left: auto;
    background-color: #7af57a;
    cursor: pointer;
}