/* Universal design for font */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Defines the background color */
.background {
    background-color: #ff990034;
}

/* Universal design for buttons */
button,
select {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #616161;
    cursor: pointer;
}

/* Design for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 15px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Places the logo next to header */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Design for header text */
.header-text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

/* Design for text under header */
.header-text h1 {
    margin: 0;
}

/* Design for the tables */
.tables {
    max-width: 1380px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #61616181;
    padding: 24px 20px 20px;

}

/* This class and the next one align the Order buttons correctly */
.table-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.tables h1 {
    margin: 0;
    margin-right: auto;
}

/* This id and the next one stylize the Order buttons */
#openBtn {
    background-color: #7af57a;
    border-color: #0f4b0f;
    color: #000000;
    cursor: pointer;
}

#simulateBtn {
    background-color: #7af57a65;
    cursor: pointer;
    margin-left: 10px;
}

/* Defines the style of the top of the table */
.orders-table-wrapper {
    border-radius: 12px;
    overflow: auto;
}

/* Defines the style of each column in the table */
.orders-table {
    width: 1380px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 13.6px;
    white-space: nowrap;
}

/* Defines the size for each column */
.orders-table th:nth-child(1) {
    width: 2%;
}

/* Time */
.orders-table th:nth-child(2) {
    width: 2%;
}

/* Provider */
.orders-table th:nth-child(3) {
    width: 2%;
}

/* Order # */
.orders-table th:nth-child(4) {
    width: 2%;
}

/* Customer */
.orders-table th:nth-child(5) {
    width: 9%;
}

/* Items */
.orders-table th:nth-child(6) {
    width: 2%;
}

/* Total */
.orders-table th:nth-child(7) {
    width: 2.2%;
    min-width: 90px;
}

/* Status */
.orders-table th:nth-child(8) {
    width: 2.2%;
}

/* Contact */
.orders-table th:nth-child(9) {
    width: 7%;
}

/* Actions */

/* This aligns entires with the table columns and adds a dividing line*/
.orders-table th,
.orders-table td {
    text-align: left;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;

}

/* Adds a color to the first row of each table */
.orders-table-color {
    background-color: #e6e6e6;
}

/* BOOOOLD */
.orders-table td:nth-child(6) {
    font-weight: 650;
}

/* Defines a pill style for the order status */
.status-pill {
    padding: 5px 12px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}

/* Defines the design for each status */
.status-pending {
    background-color: #ffeeba;
    color: #856404;
}

.status-accepted {
    background-color: #cce5ff;
    color: #004085;
}

.status-cancelled {
    background-color: #f8d7da;
    color: #721c24;
}

.status-completed {
    background-color: #d4edda;
    color: #155724;
}

/* The next 4 classes control the color of the buttons */
.btn-accept {
    background-color: #ffeeba;
    border-color: #856404;
    color: black;
        margin-left: 5px;
}

.btn-cancel {
    background-color: #f8d7da;
    border-color: #991b28;
    color: #ff0000;
    margin-left: 5px;
}

.btn-complete {
    background-color: #d4edda;
    border-color: #155724;
    color: #000000;
    margin-left: 5px;
}

.btn-more {
    background-color: transparent;
    border-color: transparent;
    color: #000000;
    font-weight: 600;
    float: right;
}

/* Hides new order popup and fades background*/
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: #00000080;
}

/* Defines the entire layout of the popup window*/
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    max-height: 80vh;
    overflow-y: auto;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000004d;
}

/* Fixes the popup header in place */
.popup-content h2 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Mimics the behavior of the popup screen.. but for monkey*/
.monkeyPopup {
    display: none;
    position: fixed;
    inset: 0;
    background: #00000080;
}

/* *monkey noises* */
.monkeyPopupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Stylizes the "X" close button*/
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Defines a standard design for each field in the popup menu */
.popup-content input,
.popup-content textarea,
.popup-content select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

/* Stylizes the 7 ids seen below. Mainly possitions the fields in a certain way*/
#orderName {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

#orderTel {
    width: 48%;
    float: right;
    margin-bottom: 15px;
}

#orderNumber {
    float: right;
    margin-right: 24%;
    position: relative;
}

#orderItems,
#orderAddress,
#orderTotal,
#orderNotes {
    width: 100%;
    clear: both;
}

#orderButton {
    display: block;
    margin-left: auto;
    background-color: #7af57a;
    cursor: pointer;
}